		
		
		<input type='hidden' id='idcliente' class='to-save'><br>
			
		
		<h4 class="mb-3 alert barra_fis">Dados do Cliente</h4>
		

		<div class="row">
			<div class="col-md-12 mb-3">
				
	            <label for="nome" class="font-weight-bold">Nome</label>
				<div class="input-group">
					<input type="text" name="nome" id="nome" class="form-control to-save"/>
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 mb-3">
				
	            <label for="datanascimento" class="font-weight-bold">Data de Nascimento</label>
				<div class="input-group">
					<input type="text" name="datanascimento" id="datanascimento" class="form-control to-save typeDate"/>
				</div>
				
			</div>
			<div class="col-md-2 mb-3">
				
	            <label for="cpf" class="font-weight-bold">CPF:</label>
				<div class="input-group">
					<input type="text" name="cpf" id="cpf" class="form-control to-save typeCPF"/>
				</div>
				
			</div>
			<div class="col-md-4 mb-3">
				
	            <label for="email" class="font-weight-bold">E-mail</label>
				<div class="input-group">
					<input type="text" name="email" id="email" class="form-control to-save"/>
				</div>
				
			</div>
			<div class="col-md-4 mb-3">
				
	            <label for="telefone" class="font-weight-bold">Telefone</label>
				<div class="input-group">
					<input type="text" name="telefone" id="telefone" class="form-control typeTelefone to-save"/>
				</div>
				
			</div>
			
		</div>
		



			