		
		
		<input type='hidden' id='idmedico' class='to-save'><br>
			
		
		<h4 class="mb-3 alert barra_fis">Dados Do médico</h4>
		
		
		<div class="row">
			<div class="col-md-12 mb-3">
				
	            <label for="nomemedico" class="font-weight-bold">Nome do M&eacute;dico</label>
				<div class="input-group">
					<input type="text" name="nomemedico" id="nomemedico" class="form-control to-save"/>
				</div>
			
			</div>
			
			<div class="col-md-4 mb-3">
				<label for="ativo" class="font-weight-bold">Ativo</label>
				<select name="ativo" id="ativo" class="custom-select w-100 to-save">
				<option value="">Selecione...</option>
				</select>
			</div>
			
		</div>
		



			