		
		
		<input type='hidden' id='idusuario' class='to-save'><br>
			
		
		<h4 class="mb-3 alert barra_fis">Dados Gerais</h4>
		
		
		<div class="row">
			<div class="col-md-3 mb-3">
				
	            <label for="id_pir_date" class="font-weight-bold">Login do usuário (e-mail)</label>
				<div class="input-group">
					<input type="text" name="loginusuario" id="loginusuario" class="form-control to-save"/>
				</div>
				
			</div>
			<div class="col-md-4 mb-3">
				
	            <label for="id_pir_date" class="font-weight-bold">Nome</label>
				<div class="input-group">
					<input type="text" name="nomeusuario" id="nomeusuario" class="form-control to-save"/>
				</div>
				
			</div>
			
		</div>
		<div class="row">
			
			<div class="col-md-3 mb-3">
				<label for="ativo" class="font-weight-bold">Estado</label>
				<select name="ativo" id="ativo" class="custom-select w-100 to-save">
				<option value="">Selecione...</option>
				</select>
			</div>
			
			<div class="col-md-4 mb-3">
				<label for="grupo" class="font-weight-bold">Grupo</label>
				<select name="grupo" id="grupo" class="custom-select w-100 to-save">
				<option value="">Selecione...</option>
				</select>
			</div>
		
			
		</div>
		<div class="row">
			
			<div class="col-md-3 mb-3 campo-senha">
				
	            <label for="senhausuario" class="font-weight-bold">Senha (Será necessário trocar)</label>
				<div class="input-group">
					<input type="password" name="senhausuario" id="senhausuario" class="form-control to-save"/>
				</div>
				
			</div>
			<div class="col-md-3 mb-3 campo-senha-reinicializar" style="display: none">
				
	            <label for="senhausuarioreinicializar" class="font-weight-bold">Senha (Reinicializar)</label>
				<div class="input-group">
					<input type="password" name="senhausuarioreinicializar" id="senhausuarioreinicializar" class="form-control to-save"/>
				</div>
				
			</div>
		
		</div>
		



			